@font-face {
  font-family: "Novalion";
  /* src: url("/fonts/Novalion-Regular.ttf") format("truetype"); */
  src: url("/fonts/Novalion-Regular Demo.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Novalion";
  /* src: url("/fonts/Novalion-Medium.ttf") format("truetype"); */
  src: url("/fonts/Novalion-Regular Demo.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Novalion";
  /* src: url("/fonts/Novalion-Bold.ttf") format("truetype"); */
  src: url("/fonts/Novalion-Regular Demo.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #000;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
