body,
html {
  margin: 0;
  padding: 0;
  background-color: #000;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

body, html, * {
  font-family: 'Roboto', sans-serif;
}

.text {
  display: inline-block;
}
